@mixin gradient
  background: linear-gradient(90deg, #4bcaa0 0%, #2ed9ff 100%)
  -webkit-text-fill-color: #0000
  -webkit-background-clip: text

@mixin flex-center
  justify-content: center
  align-items: center
  display: flex